<div class=" container mt-5 pt-5 ">
   <div class=" row justify-content-center">
      <h1 class=" text-center bg-danger p-2   rounded-5"> الاخبار الغير موثقه</h1>
      <p class=" alert alert-danger text-center" *ngIf="errFalse">{{errFalse}}</p>
      <div *ngFor=" let data of dataFalse dataTrue" class=" col-md-4 ">
         <div class=" item">
            <div class=" d-flex justify-content-between align-items-center">
               <div class=" item1">
                  <img [src]="    data.userId.profile_pic
                       " class=" imgUser rounded-5" alt="">
                  <h4> {{data.userId.firstName}} {{data.userId.lastName}}</h4>
               </div>
               <div class=" item2">

                  <br>
                  <h4 class=" btn btn-outline-danger" (click)="updateFalseToTrue(data._id)">توثيق الخبر</h4>
               </div>
            </div>

            <hr>
            <img [src]="data.Image" class="w-100 " alt="">
            <h3> نوع الخبر <span class=" text-muted"> {{data.newsType}}</span> </h3>
            <h5> عنوان الخبر <span class=" text-muted">{{data.addressHeadline}}</span></h5>
            <p> مقال الخبر <span class=" text-muted">{{data.ExplanationOfTheNews}}</span>


            </p>
            <p> التاريخ <span class=" text-muted"> {{data.createdAt.slice(0,10) }}</span></p>
         </div>
      </div>


   </div>
</div>











<!-- <div *ngFor=" let data of dataFalse dataTrue" class=" col-md-4">
         <div class=" item">
            <div class=" d-flex justify-content-between align-items-center">
               <div class=" item1">
                  <img [src]="    data.userId.profile_pic
                       " class=" imgUser rounded-5" alt="">
                  <h4> {{data.userId.firstName}} {{data.userId.lastName}}</h4>
               </div>
               <div class=" item2">

                  <br>
                  <h4 class=" btn btn-outline-danger" (click)="updateFalseToTrue(data._id)">توثيق الخبر</h4>
               </div>
            </div> 

            <hr>
            <img [src]="data.Image" class="w-100 h-50" alt="">
            <h3> نوع الخبر <span class=" text-muted"> {{data.newsType}}</span> </h3>
            <h5> عنوان الخبر <span class=" text-muted">{{data.addressHeadline}}</span></h5>
            <p> مقال الخبر <span class=" text-muted">{{data.ExplanationOfTheNews}}</span>

              
            </p>
            <p> التاريخ <span class=" text-muted"> {{data.createdAt.slice(0,10) }}</span></p>
         </div>
      </div> -->